Source: fmbt
Maintainer: Pablo Virolainen <pablo.virolainen@intel.com>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7.3.8), libglib2.0-dev, libboost-dev, libedit-dev, python (>= 2.6), automake, libtool, libxml2-dev, libmagick++-dev, libboost-regex-dev, flex | flex-old, dbus, python-pexpect, python-dbus, python-gobject, graphviz, imagemagick
X-Python-Version: >= 2.6

Package: fmbt-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fMBT core: Test generator and executor
 fMBT is a tool for generating and executing model-based tests.
 This is core package. It contains test generator and executor.

Package: fmbt-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fmbt-python (= ${binary:Version}), graphviz, gnuplot, imagemagick
Description: fMBT visualizing, staticstics, reporting and log utils
 Tools for visualising models, inspecting logs, statistics and reporting.

Package: fmbt-coreutils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fmbt-python (= ${binary:Version}), fmbt-dev (= ${binary:Version})
Description: GT and AAL models handling
 Tools for handling GT and AAL models

Package: fmbt-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fMBT C++ headers
 Headers for building AAL/C++ models and native adapters

Package: fmbt-editor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-pyside, fmbt-adapters-remote (= ${binary:Version}), fmbt-core (= ${binary:Version}), fmbt-coreutils (= ${binary:Version}), fmbt-utils (= ${binary:Version})
Description: fMBT editor
 fmbt-editor for
   - editing AAL/Python models
   - editing GT models
   - editing test configurations
   - previewing tests (even if you'd use your favourite editor)
   - visualizing models and test coverage.
 fmbt-scripter for
   - recording Python UI test scripts

Package: fmbt-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python
Description: fMBT Python bindings
 Common Python libraries for various fMBT components.

Package: fmbt-adapters-remote
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-dbus, fmbt-coreutils (= ${binary:Version})
Description: fMBT remote adapters
 Generic remote adapters for running shell script,
 Python expressions and Javascript.

Package: fmbt-adapter-android
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fmbt-adapter-eyenfinger (= ${binary:Version}), fmbt-python (= ${binary:Version})
Description: fMBT adapter for Android GUI testing through USB
 Provides fmbtandroid.py, a Python library for Android GUI testing.
 The library needs Android Debug Bridge (adb).

Package: fmbt-adapter-tizen
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fmbt-adapter-eyenfinger (= ${binary:Version}), fmbt-python (= ${binary:Version})
Description: fMBT adapter for Tizen GUI testing through USB
 Provides fmbttizen.py, a Python library for Tizen GUI testing.
 The library needs Smart Development Bridge (sdb) from Tizen SDK.

Package: fmbt-adapter-windows
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fmbt-adapter-eyenfinger (= ${binary:Version}), fmbt-pythonshare (= ${binary:Version})
Description: fMBT adapter for Windows GUI testing
 Provides fmbtwindows.py, a Python library for Windows GUI testing.
 The library connects to pythonshare server running on Windows.

Package: fmbt-adapter-vnc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fmbt-adapter-eyenfinger (= ${binary:Version}), fmbt-python (= ${binary:Version})
Description: fMBT adapter for Tizen GUI testing through USB
 Provides fmbttizen.py, a Python library for Tizen GUI testing.
 The library needs Smart Development Bridge (sdb) from Tizen SDK.

Package: fmbt-adapter-x11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fmbt-adapter-eyenfinger (= ${binary:Version}), fmbt-python (= ${binary:Version})
Description: fMBT adapter for X11 GUI testing
 Provides fmbtx11.py, a Python library for X11 GUI testing.

Package: fmbt-adapter-eyenfinger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, x11-apps, imagemagick, tesseract-ocr
Description: fMBT adapter for GUI testing
 Proof-of-concept adapter for X11 GUI testing with OCR and icon matching.
 Eyenfinger test API is deprecated, use fmbtx11 instead.

Package: fmbt-pythonshare
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python
Description: Python RPC client and server with code mobility
 Pythonshare enables executing Python code and evaluating
 Python expressions in namespaces at pythonshare-server processes.
 Includes
 - pythonshare-server (daemon, both host and proxy namespaces)
 - pythonshare-client (commandline utility for using namespaces
   on pythonshare-servers)
 - Python API for using pythonshare namespaces.

Package: fmbt-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: fMBT documentation
 fMBT documentation includes
   - aal_python.txt     AAL/Python modeling language reference
   - configuration.txt  Test configuration file reference

Package: fmbt-examples
Architecture: all
Depends: ${misc:Depends}
Description: fMBT examples
 Various fMBT examples.

Package: fmbt
Architecture: all
Depends: fmbt-editor (>= ${source:Version}), fmbt-examples (= ${binary:Version}), fmbt-doc (= ${binary:Version}), fmbt-adapter-android (>= ${source:Version}), fmbt-adapter-tizen (>= ${source:Version}), ${misc:Depends}
Description: A metapackage for installing all fMBT packages
 This metapackage brings in all fMBT tools, adapters and examples.
